.NavigateActionRow{
    height: 60px !important;
}
.CookieActionRow{
    height: 60px !important;
}
.EnterTextActionRow{
    height: 60px !important;
}
.LoopActionRow{
    height: 60px !important;
}
.ExtractDataActionRow{
    height: 60px !important;
}